  <!DOCTYPE html>
  <html ng-app="toneAnalyzer">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tone Down For What</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main_page.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/bower_components/tinymce-dist/tinymce.js"></script>
    <script type="text/javascript" src="/bower_components/tinymce-dist/test.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </head>
  <body class="main_page_bkgrd" ng-controller='inputForm'> 
    <div>
      <div id="wrapper"> 
        <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <li class="sidebar-brand" ng-init="getUser()">Welcome {{ firstname }}</li>
            <li class="sidebar-brand">
              Saved Drafts
            </li>
            <li ng-init="retrieveDraft()">
              <a class="draft_links" ng-click="renderDraftAndData(draft._id)" ng-repeat="draft in draftArray">{{ draft.drafttitle }}<i class="fa fa-trash-o" aria-hidden="true" ng-click='deleteDraft(draft._id);retrieveDraft()'></i></a>
            </li>
          </ul>
        </div>
        <div id="page-content-wrapper">
          <div class="container-fluid">
            <div class="row">
            <a href="#menu-toggle" class="btn btn-large toggle hover-button" id="menu-toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
              <div class="col-lg-12">
                <h3 class="mainpge-title">Tone Down For What</h3>
                <br/>
              </div>
              <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                <input type="text" ng-model='draftTitle' class="form-control tone_textarea" placeholder="Title" class="validate title-text"/>
                <br/>
              </div>
              <div class="col-xs-12 col-md-10 col-md-offset-1">
                <textarea ui-tinymce="tinymceOptions" class="form-control tone_textarea" rows="15" ng-model='toneText' placeholder='Enter Text Here'></textarea>  
              </div>
                <div class="col-xs-6 text-right">
                  <a class="action btn analyzeBtn hover-button btn-large" ng-click='analyzeTone()'>Analyze</a>
                </div>                  
                <div class="col-xs-6 text-left">
                  <div id="tooltip-wrapper" title="Must be logged in with Gmail to use this feature.">
                    <button class="btn analyzeBtn hover-button" data-toggle="modal" data-target="#email-form" id="emailBtn"><i class="fa fa-envelope fa-lg"></i> Send</button>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-body">
              The tone data is reported on a scale of 0 to 1 for ease of interpretation. A score of 0 means that the specific tone of interest is not present in your text, whereas a score of 1 indicates the most extreme case of that tone.  This data will help you become aware of the tone of your email with quantified data before sending it.
                </div>
              </div>
              <div ng-repeat='(key, value) in draftData track by $index'>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="panel panel-default panel-shadow text-panel">
                    <div class="panel-body text-center">
                      <h4>Text for tone analysis</h4>
                      <p> {{value.content}} </p>
                   </div>
                  </div>  
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="panel panel-default panel-shadow">
                    <div class="panel-body text-center">
                      <h4>Social tone data</h4>
                      <p ng-repeat='(key, value) in value.social_tone_data' id="{{value.tone_type}}"> {{value.tone_type}} {{value.tone_score}}</p>
                    </div>
                  </div>
                  <div class="panel panel-default panel-shadow">
                    <div class="panel-body text-center">
                      <h4>Emotional tone data</h4>
                      <p ng-repeat='(key, value) in value.emotion_tone_data'> {{value.tone_type}} {{value.tone_score}}</p>
                    </div>
                  </div>
                  <div class="panel panel-default panel-shadow">
                    <div class="panel-body text-center">
                      <h4>Writing tone data</h4>
                      <p ng-repeat='(key, value) in value.writing_tone_data'> {{value.tone_type}} {{value.tone_score}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                  <draw-chart class='img-responsive' style="width: 100%; height: 511px;" ng-bind='generateHighchart()' ></draw-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    <!-- Modal -->
    <div id="email-form" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <form ng-submit="sendEmail()">
        <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Email</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="recipient">Recipient</label>
                    <input type="text" id="reciepient" class="form-control input-lg enable" placeholder="Recipient" ng-model="emailData.sendTo">
                  </div>
                </div>
              </div>              
              <div class="row">
                <div class="col-xs-12">
                 <div class="form-group">
                   <label for="from">From</label>
                   <input type="text" id="from" class="form-control input-lg disable" placeholder="From" disabled="disabled" ng-model="emailData.email" ng-init="emailData.email='{{ email }}'">               
                 </div>
                </div>
              </div>              
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" class="form-control input-lg enable" placeholder="Subject" ng-model="emailData.subject">
                  </div>            
                </div>
              </div>              
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <input type="hidden" class="form-control disable" rows="9" ng-model="emailData.message" ng-init="emailData.message='{{ message }}'">    
                  </div>            
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger btn-lg" data-dismiss="modal">
                <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i>
                <span class="sr-only">Delete</span>
              </button>
              <button class="btn btn-primary btn-lg" id="emailSubmit" type="submit">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/controllers/loginController.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="../grouped-categories.js"></script>

  </body>  
  </html>