body {
  background: url('../images/access_denied.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-center {
  margin-top: 200px;
}