.content {
  text-align: center;
  padding-top: 15%;
  color: #fff;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}


h1 {
  font-weight: 700;
  font-size: 5em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

a {
  margin-top: 40px;

 }

.startBtn {
  background: transparent;
  transition: background-color 0.5s ease;
  border-radius: 0;
  letter-spacing: .2em;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  padding: 20px;
  color: #fff;
  border: 2px solid #fff;
  margin: 20px;
  text-shadow: none;
  cursor: pointer;
 }

.btn:hover {
  background-color: white;
}

button {
  background: transparent;
}

body {
  background-image: url(https://images.unsplash.com/photo-1447433819943-74a20887a81e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8ea623c09260918e2aee37156aacab95);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  
  /* SHORTHAND CSS NOTATION some reason not working
   * background: url(https://images.unsplash.com/photo-1447433819943-74a20887a81e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8ea623c09260918e2aee37156aacab95) center center cover no-repeat fixed;
   */
}


/* For mobile devices */
/*@media only screen and (max-width: 767px) {
  body {
    background-image: url(https://images.unsplash.com/photo-1447433819943-74a20887a81e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8ea623c09260918e2aee37156aacab95);
  }
}*/

#register-panel {
  margin-top: 60px;
}

h3, h2 {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
  letter-spacing: 0.2em;
  font-family: 'Lato', sans-serif;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}

.form-signin {
  font-weight: bold;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  border-radius: 0px;
  color: #fff;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  transition: background-color 0.5s ease;
}

.form-signin input[type="text"]:focus{
  background-color: white;
  color: #000;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  transition: background-color 0.5s ease;
}

.form-signin input[type="email"]:focus{
  background-color: white;
  color: #000;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  transition: background-color 0.5s ease;
}

.form-signin input[type="password"]:focus{
  background-color: white;
  color: #000;
}

input::-webkit-input-placeholder {
  color: #fff !important;
  text-align: center;
  letter-spacing: 0.2em;
  font-family: 'Lato', sans-serif;
}

.panel {
  margin-top: 160px;
  background: transparent;
  border: 5px solid #fff;
}

.login_signup-button {
  margin-bottom: 10px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  letter-spacing: 0.2em;
  font-family: 'Lato', sans-serif;
  transition: background-color 0.5s ease;
}

.login_signup-button:hover {
  background-color: white;
  color: #000;
}

.login_signup-button:focus {
  background-color: white;
  color: #000;
  outline: none;
  border: none;
}


.tone_textarea {
  margin-top: 60px;
  border: 1px solid #fff !important;
  border-radius: 0px !important;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.32);
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.32);
}

.tone_textarea:focus {
  margin-top: 60px;
  border: 1px solid #fff !important;
  border-radius: 0px !important;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.32);
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.32);
  outline: none;
  border: none;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #fff;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

span, a {
  color: #fff;
}


.form-signin p {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
  letter-spacing: 0.2em;
  font-family: 'Lato', sans-serif;

}
