<div ng-controller='inputForm'>

  <form>
    <textarea type='text' ng-model='toneText'></textarea>
    <input type='submit' ng-click='analyzeTone()'>
  </form>

  <div ng-init='retrieveData()'>
    <ul ng-repeat='(key, value) in toneDatas track by $index'>
      <li><strong>Text to be analyzed</strong> </li>
      <li> {{value.content}} </li>
      <li><strong>Social tone data</strong></li>
      <li ng-repeat='(key, value) in value.social_tone_data track by $index'> {{value.tone_type}} {{value.tone_score}} </li>
      <li><strong>Emotional tone data</strong></li>
      <li ng-repeat='(key, value) in value.emotion_tone_data'> {{value.tone_type}} {{value.tone_score}} </li>
      <li><strong>Writing tone data</strong></li>
      <li ng-repeat='(key, value) in value.writing_tone_data'> {{value.tone_type}} {{value.tone_score}} </li>
      <draw-chart chartIndex={{$index}} ></draw-chart>
    </ul>
  </div>

</div>