<div class="container">
  <div class="col-md-6 col-sm-offset-3 col-xs-6-offset-3" id="login-form">
    <div class="panel panel-default" id="register-panel" ng-controller="loginController">
      <div class="panel-body">
        <div class="row">
          <form ng-submit="register()" class="form-signin" autocomplete="off">  
            <h2 class="form-signin-heading">Sign Up</h2>
            <button class="btn btn-lg login-button btn-block">Login With Gmail</button>  
            <div class="strike">
              <span>OR</span>
            </div>
            <br>
              <input type="text" class="form-control" ng-model="registration.firstname" placeholder="First Name" required="" autofocus="" />
              <input type="text" class="form-control" ng-model="registration.lastname" placeholder="Last Name" class="validate" />
              <input type="text" class="form-control" ng-model="registration.username" placeholder="Username" class="validate" />
               <input type="email" class="form-control" ng-model="registration.email" placeholder="Email" class="validate" />
              <input type="password" class="form-control" ng-model="registration.password" placeholder="Password" class="validate"/>   
              <br>  
              <button class="btn btn-lg login-button btn-block" type="submit">Sign Up</button>  
              <a href="welcome">cancel</a> 
          </form>
        </div>
      </div>
    </div>
  </div>
</div>