<div ng-controller="loginController">
  <form ng-submit="logout()" ng-show="isAuthenticated">
    <button type="submit">Logout</button>
  </form>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="content">
          <h4>{{ success }}</h4>
          <h1 ng-show="!isAuthenticated">Tone Down For What</h1>
          <h1 ng-show="isAuthenticated">Welcome {{ username }}</h1>
          <h3 ng-show="!isAuthenticated">Linguistic Analysis to Identify Tones In Text</h3>
          <a ui-sref="login" ng-show="!isAuthenticated" class="action btn startBtn btn-large" >Login</a>
          <a ui-sref="register" ng-show="!isAuthenticated" class="action btn startBtn btn-large" >Sign Up</a>
          <button ng-click="showMainPage()" ng-show="isAuthenticated" class="action btn startBtn btn-large" >Get Started</button>
        </div>
      </div>
    </div>
  </div>
</div>