<div ng-controller="loginController" class="space">
  <div>
    <form ng-submit="logout()" ng-show="isAuthenticated">
      <button type="submit">Logout</button>
    </form>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="content">
          <h1 ng-show="!isAuthenticated">Tone Down For What</h1>
          <h1 ng-show="isAuthenticated">Welcome {{ username }} </h1>
          <h3 ng-show="!isAuthenticated">Web App That Uses Linguistic Analysis to Identify Tones In Text</h3>
          <a ng-show="!isAuthenticated" ui-sref="login" class="action btn startBtn btn-large" >Login</a>
          <a ng-show="!isAuthenticated" ui-sref="register"class="action btn startBtn btn-large" >Sign Up</a>
          <a ng-show="isAuthenticated" href="/main_page" class="action btn startBtn btn-large" >Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>